/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    height: 100vh;
    font-family: 'Unbounded', cursive;
    background-color: #fff;
}

.body-block {
    overflow: hidden;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--color-title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.title__shine {
    position: relative;
}

.title__shine::after {
    content: url('../img/icons/shine1.svg');
    position: absolute;
    top: -33px;
}

.title__shine-left {
    position: relative;
}

.title__shine-left::before {
    content: url('../img/icons/shine1.svg');
    position: absolute;
    top: -33px;
    left: 0;
}

.title--shine__two {
    position: relative;
}

.who__title {
    text-align: left;
}

.title__wrapper {
    text-align: center;
}

.who__title__wrapper {
    text-align: left;
}

.title--shine__two::after {
    content: url('../img/icons/shineTitleTwo.svg');
    position: absolute;
    right: 36px;
    top: -75px;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
*/
body {
    font-family: 'Montserrat', sans-serif;

}

.scroll--block {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    line-height: 1;
    height: 100vh;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.title--mobile {
    display: none;
}




/*HEADER*/

.header {
    padding: 55px 0;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header__container {
    display: flex;

}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav__navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding: 0 50px;
    border-radius: 10px;
    background-color: var(--red-color);
}

.nav__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__link {
    color: var(--white-text);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.34px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

.nav__link:hover {
    color: #ffcbcb;
    transition: all ease .4s;

}

.logo--mini {
    display: none;
}







/*banner*/


.banner__container {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}

.banner__content-img {
    width: 100%;
}

.banner__content-left {
    margin-top: 250px;
    width: 50%;
    position: relative;
}

.banner__content-left::after {
    content: '';
    position: absolute;
    background-image: url('../img/icons/shine2Mobile.png');
    width: 174px;
    height: 174px;
    background-size: cover;
    bottom: 0;
    right: 75px;
}

.banner__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(101deg, #000 23.31%, #F00 64.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    max-width: 584px;
}

.banner__subtext {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 349px;
    position: relative;
    padding-left: 15px;
}

.banner__subtext::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--red-color);
}

.banner__content-right {
    width: 50%;
    position: relative;
}

.banner__content-left__bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.banner__programs-title,
.banner__text-start {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner__programs-title b::after {
    content: url('../img/icons/shine1.svg');
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: -50px;
}

.banner__programs-title b {
    padding-right: 40px;
    color: var(--red-color);
    position: relative;

}

.buy__btn {
    border: 0;
    padding: 23px 35px;
    border-radius: 10px;
    background: var(--red-color);;
    box-shadow: 0px 8px 22px 0px var(--red-color);;
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.69px;
    cursor: pointer;
    transition: all ease .4s;

}

.buy__btn:hover {
    background: rgb(255, 129, 129);

}

.banner__btn-link {
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
}




/*ABOUT*/



.about__container {
    padding-left: 0;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__content-left {
    width: 50%;
}

.about__content-img {
    width: 80%;
}

.about__content-right {
    width: 50%;
}

.about__title {
    text-align: left;
    padding-left: 50px;
    margin-bottom: 50px;
}

.about__list {
    display: flex;
    padding: 0px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    margin-bottom: 50px;
}

.about__list-item {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 50px;
    position: relative;
}

.about__list-item::before {
    content: url('../img/icons/crown.svg');
    position: absolute;
    left: 0;
    top: 0;
}




.about__content-right__bottom {
    display: flex;
    justify-content: center;
    position: relative;
}

.about__content-right__bottom::after {
    content: "";
    background-image: url('../img/icons/shine1Mobile.png');
    right: 75px;
    width: 75px;
    height: 75px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: -33px;
    transform: rotate(90deg);
}


.about__content-right__bottom p {
    padding: 15px 19px 20px 19px;
    background: var(--red-color);
    width: 300px;
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.9%;
    /* 39.57px */
}

.about__content-right__bottom p b,.about__content-right__bottom p strong {
    position: relative;
}

.about__content-right__bottom p b::after, .about__content-right__bottom p strong::after {
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    background-color: #FFF;
    bottom: 0;
    position: absolute;
}







/*WHO*/



.who__container {
    padding-right: 0;
    padding-top: 100px;
    display: flex;
}

.who__title {
    display: inline-block;
    max-width: 493px;
    margin-bottom: 50px;
}

.who__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: auto;
    counter-reset: list-counter;

}

.who__list-item {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    counter-increment: list-counter;
    padding-left: 44px;
}

.who__list-item::before {
    content: counter(list-counter)'.';
    position: absolute;
    left: 0;
    top: -5px;
    color: var(--red-color);
    font-family: Montserrat;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.who__content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.who__content-right {
    width: 50%;
    text-align: right;
}






/*moduls*/

.moduls__container {
    padding-top: 100px;
}

.moduls__title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

/*MODULS*/
.accordeon {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    border: 3px double transparent;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-bottom: 20px;
    padding: 3px;
    cursor: pointer;
}
.accordeon:last-child{
    margin-bottom: 0;
}


.moduls__title {
    margin-bottom: 50px;

}

.moduls__accordeon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: all 0.4s ease;

}

.panel {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    /* opacity: 0; */
    /* Початкова висота */
    width: 100%;
    background: #FFF;
    transition: all 0.8s ease;
}

.panel__content-top ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.panel__content-top ul li {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}
.panel__content-top ul li b, .panel__content-top ul li strong{
    color: var(--red-color);;
    background-color: rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(255, 1, 1, 1);
}
.panel__content-top ul li.modul__list-item__lesson {
    color: var(--red-color);;
    background-color: rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(255, 1, 1, 1);
}
/* .modul__list-item__value {
} */
.panelActive {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
}


.moduls__accordeon-btn {
    width: 100%;
    color: #505050;
    text-align: center;
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-wrap: normal;
    line-height: normal;
    text-transform: uppercase;
    background-color: #fff;
    align-items: center;
    gap: 10px;
    border: transparent;
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: all 3s ease;
    text-align: left;
}
.moduls__accordeon-btn span{
    white-space: nowrap;
}

.moduls__accordeon-btn b,
.moduls__accordeon-btn strong {
    color: var(--red-color);;
}


.moduls__accordeon-btn.active {
    border-radius: 8px 8px 0 0;
    transition: all .1s ease;
}

.moduls__accordeon-btn::after {
    position: absolute;
    content: url('../img/icons/arrow.svg');
    right: 15px;
    transition: all .8s ease;
    top: 10px;
    transform-origin: center; /* Додано точку обертання по центру */
}

.moduls__accordeon-btn.active::after {
    transform: rotate(180deg); /* Змінено обертання для активного стану */
}





/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

.cases__container {
    padding-top: 100px;
}

.cases__title {
    margin-bottom: 50px;
    padding-left: 75px;
}


.cases {
    position: relative;
    z-index: 1;
}


.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
    padding-bottom: 75px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    border: 2px solid var(--red-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--red-color);
}


.swiper-slide__content {
    height: 390px;
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border: 3px double transparent;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
}

/* .swiper-slide__content::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.swiper__content-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.swiper__content-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.swiper__content-top_text {
    display: flex;
    flex-direction: column;
}

.swiper__content-name {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(180deg, #000 0%, #FF0101 113.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.swiper__content-location {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 22px;
}
.swiper__content-location::before{
    content: url('../img/icons/location.svg');
    position: absolute;
    left: 0;
}

.swiper__content-instagram {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 22px;
    word-break: break-all;
}
.swiper__content-instagram::before{
    content: url('../img/icons/instagramCases.svg');
    position: absolute;
    left: 0;
    top: 5px;
}

.swiper__content-text {
    padding-left: 67px;
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.57px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.swiper__content-read {
    cursor: pointer;
    border-radius: 10px;
    background: var(--red-color);
    box-shadow: 0px 0px 9px 0px var(--red-color);;
    padding: 17px 15px;
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    border: none;
    transition: all ease .4s;
}
.swiper__content-read:hover {
    background: rgb(255, 129, 129);

}

.swiper__content-read--wrapper {
    display: flex;
    justify-content: flex-end;
}
.gradient-overlay{
    height: 174px;
    overflow: hidden;
    position: relative;
}
.gradient-overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.no-btn {
    display: none;
}




.no-btn {
    display: none;
}




.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    padding: 10px; /* Додано відступи 10px зі всіх сторін */
    border: 1px solid #888;
    width: 35%;
    border: 3px double transparent;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    height: 73%;
    overflow-y: scroll;
}

/* Стилізація скролбару */
.modal-content::-webkit-scrollbar {
    width: 8px; /* Ширина скролбару */
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: red; /* Колір скролбару */
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track {
    background-color: transparent; /* Колір фону скролбару */
}


.modalActive {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-text {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.35%;
    /* 15.435px */
    margin-top: 20px;

}

.modal__content-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal__content-top__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    color: var(--black-color);
    font-family: Unbounded;
    font-size: 20.227px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.35%;
    /* 31.221px */
    text-transform: uppercase;
}





/**/


.price__container {
    padding: 100px 15px;
}

.price__title {
    margin-bottom: 75px;
}

.price__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.price__list-item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 3px double transparent;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.price__list-item__title-value {
    background: linear-gradient(271deg, #000 14.1%, #000 14.81%, #F00 51.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}
.price__value-full{
    color: var(--red-color);
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.625px;
margin: 0 auto;
position: relative;
padding: 0 5px;
}
.price__value-full::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 2px;
    background-color: var(--black-color);
}
.price__list-item__title-value::after{
    content: url('../img/icons/priceIconSvg.svg');
    right: -26px;
    top: 21px;
    position: absolute;

    /* 
    width: 59px;
    height: 59px;
    background-image: url(../img/icons/priceIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    
}
.price__list-item__title {
    text-align: center;
}

.price__list-item__title-subtext {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price__list-item ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: auto;
}

.price__list-additional__item {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    position: relative;
}
.price__list-item li {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    position: relative;
}
.price__list-item li::before{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--red-color);;
    position: absolute;
    left: 0;
    top: 3px;
}

.price__list-moduls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price__list-moduls__item {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.price__list-moduls__item b,.price__list-moduls__item strong{
    color: var(--red-color);;
}

.price__value {
    color: var(--black-color);
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.price__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.price__button {
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 10px;
    background: var(--red-color);
    box-shadow: 0px 0px 9px 0px var(--red-color);
    border: none;
    width: 100%;
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.525px;
    cursor: pointer;
    transition: all ease .4s;
}

.price__button:hover {
    background: rgb(255, 129, 129);

}

.confidenc__title{
    color: var(--black-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.confidencial__container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #000;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 50px auto;
}
.cases__bottom-title{
    font-size: 23px;
}




.additional__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
.additional__list-item {
    color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.additional__container{
    display: flex;
    justify-content: center;
}
.additional__list-item b {
    color: var(--red-color);
}
/*FOOTER*/

@media (max-width: 965px) {


    .nav__menu-item--mobile {
        display: none;
    }

    .nav__navigation-list {
        padding: 0 20px;
        gap: 15px;
    }

    .banner__content-left {
        margin-top: 200px;
    }



    .logo--mini {
        display: block;
        height: 100%;
    }

    .header__container {
        gap: 10px;
    }

    .logo--img {
        display: none;
    }

    .banner__content-img {
        height: 635px;
    }

    .banner__content-left::after {
        content: '';
        background-image: url('../img/icons/shine2Mobile.png');
        right: -40px;
        width: 75px;
        height: 74px;
        background-size: cover;
        bottom: -65px;
        right: 44px;
    }

    .banner__programs-title b::after {
        content: "";
        background-image: url('../img/icons/shine1Mobile.png');
        right: -40px;
        width: 40px;
        height: 40px;
        background-size: cover;
        right: -40px;
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    .banner__buy-btn {
        padding: 16px 13px;
        font-size: 18px;
    }

    .banner__btn-link {
        bottom: 164px;
    }

    .about__container {
        flex-direction: column;
        padding: 0;
        padding-top: 100px;
    }

    .about__content-left,
    .who__content-right,
    .who__content-left {
        width: 100%;
    }

    .about__content-img,
    .who__content-img {
        width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .title--mobile {
        display: block;
        margin: 0 auto;
        margin-bottom: 65px;
    }

    .about__title {
        display: none;

    }

    .about__content-right {
        margin-top: 50px;
        width: 100%;
    }

    .title__shine::after {
        content: "";
        background-image: url('../img/icons/shine1Mobile.png');
        /* right: -40px; */
        width: 40px;
        height: 40px;
        background-size: cover;
        /* right: -33px; */
        transition: all ease-in .5s;
    }

    .about__content-right__bottom::after {
        top: -75px;
    }

    .who__container {
        flex-direction: column-reverse;
        padding: 0;
        padding-top: 100px;
    }

    .who__title {
        margin: 50px auto;
        padding: 0 15px;
    }

    .who__list {
        padding: 0 15px;
    }

    .who__link {
        margin: 0 auto;
    }

    .who__link-wrapper {
        display: flex;
        justify-self: center;
    }

    .about__list-item::before {
        content: "";
        background-image: url('../img/icons/crown.png');
        right: -40px;
        width: 40px;
        height: 38px;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
    .price__list{
        flex-direction: column;
        align-items: center;
    }
    .price__list-item{
        width: auto;
    }
    .title__shine-left::before{
        content: "";
    background-image: url(../img/icons/shine1Mobile.png);
    /* right: -40px; */
    width: 40px;
    height: 40px;
    background-size: cover;
    left: -40px;
    /* right: -33px; */
    transition: all ease-in .5s;
    }
    .cases__title{
        padding: 0;
    }
    .about__list{
        margin-bottom: 100px;
    }
}

@media (max-width: 598px) {
    .banner__title {
        font-size: 22px;
    }

    .banner__subtext {
        font-size: 20px;
    }
    .banner__content-img {
        height: 750px;
    }
    .banner__subtext {
        max-width: 164px;
    }
    .who__title{
        margin-top: 95px;
    }
    .buy__btn{
        margin-top: 64px;
    }
    .moduls__accordeon-btn{
        font-size: 18px;
        padding-right: 55px;
    }
    .swiper__content-location::before{
        content: "";
        background-image: url('../img/icons/locationPNG.png');
        /* right: -40px; */
        width: 15px;
        height: 18px;
        background-size: cover;
        /* right: -33px; */
    }
    .swiper__content-instagram::before{
        content: "";
        background-image: url('../img/icons/instagramCasesPNG.png');
        /* right: -40px; */
        width: 17px;
    height: 17px;
        top: 0;
        background-size: cover;
    }
    .price__list-item__title-value::after{
        content: "";
        background-image: url('../img/icons/priceIcon.png');
        /* right: -40px; */
        width: 75px;
    height: 80px;
        background-size: cover;
    }
    .title--shine__two::after{
        content: "";
        background-image: url('../img/icons/priceIcon.png');
        /* right: -40px; */
        width: 75px;
    height: 80px;
        background-size: cover;
    }
    .swiper__content-instagram{
        margin-top: 7px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        height: 17px;
        width: 16px;
    }
    .swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper{
        padding-bottom: 50px;
    }
    .confidenc__title{
        font-size: 27px;
    }
}
@media (max-width: 400px) {
    .header__container{
        flex-direction: column;
    }
    .title{
        font-size: 23px;
    }
    .nav__navigation-list{
        padding: 0 10px;
    }
    .banner__buy-btn{
        padding: 20px 5px;
        font-size: 14px;
    }
    .price__list-item__title-value::after{
        right: -15px;
        top: 35px;
    }
    .banner__content-left::after{
        bottom: -80px;
        right: 17px;
    }
    .header{
        padding: 20px 0;
    }
    .about__list-item{
        font-size: 18px;
    }
    .about__content-right__bottom p{
        font-size: 18px;
    }
    .who__list-item{
        font-size: 18px;
    }
    .swiper__content-top_text{
        width: 50%;
    }
    .swiper__content-instagram{
        word-wrap: break-word;
    }
    .swiper__content-location{
        margin-bottom: 10px;
    }
    .swiper__content-name{
        margin-bottom: 10px;
    }
    .banner__content-left{
        margin-top: 195px;
    }
    .banner__title {
        font-size: 21px;
    }
    .banner__subtext {
        font-size: 18px;
    }
    .banner__title{
        margin-bottom: 20px;
    }
}
@media (min-width: 1825px) {
    .container {
        max-width: 1540px;
    }

    .banner__title {
        font-size: 46px;
    }

    .banner__subtext {
        margin: 73px 0 123px 0;
        font-size: 30px;
    }

    .title {
        font-size: 68px;
    }

    .who__title {
        max-width: 724px;
    }

    .moduls__accordeon-btn {
        font-size: 33px;
    }

    .swiper__content-name {
        font-size: 21px;
    }

    .swiper__content-location {
        color: var(--black-color);
        font-family: Montserrat;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swiper__content-instagram {
        color: var(--black-color);
        font-family: Montserrat;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swiper__content-text {
        font-size: 19px;
    }

    .swiper__content-read {
        font-size: 16px;
        margin-bottom: 20px;
        
    }
    .price__list-item__title-value {
        font-size: 42px;
    }
    .price__list-item__title-subtext {
        font-size: 28px;
    }
    .price__list-additional {
        gap: 10px;
        margin-bottom: 25px;
    }
    .price__list-additional__item {
        font-size: 25px;
    }
    .price__list-moduls {
        gap: 10px;
    }
    .price__list-moduls__item {
        font-size: 25px;
    }
    .price__value {
        font-size: 31px;
    }
    .price__button {
        font-size: 21px;
    }
    .price__list-additional__item::before{
        top: 6px;
    }
}


@media (max-width: 1394px) {

    .modal-content {
        width: 70%;
    }
}

@media (max-width: 607px) {

    .modal-content-text {
            font-size: 17px;
    }

    .modal-content {
        width: 80%;
    }

}


.footer {
    background: var(--red-color);
    padding-bottom: 20px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__networks {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.footer__content-fop {
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.footer__link {
    color: var(--white-text);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.footer__link::after {
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    background-color: var(--white-text);
    bottom: 0;
    position: absolute;
}

.social__networks-img {
    width: 30px;
}

